// original milligram colors
// $o-color-initial: #fff !default;
// $o-color-primary: #9b4dca !default;
// $o-color-secondary: #606c76 !default;
// $o-color-tertiary: #f4f5f6 !default;
// $o-color-quaternary: #d1d1d1 !default;
// $o-color-quinary: #e1e1e1 !default;

$accent: $color-primary;
$accent-contrast: $color-secondary;
$accent-subtle: $color-quinary;

$text-color: $color-secondary;