.container{
    max-width: 65rem; //56rem;
}

body{
    color: $text-color;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em; //1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 2; //1.6;
}